@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CarLister</h1>
    <h3>@Html.ActionLink("List Users", "ListUsers", "Account")</h3>
    <p class="lead">Coder Foundry Apprentice Class - Web Project 1</p>
    <p><a href="http://coderfoundry.com/Program/Apprentice" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>
            Coder Foundry offers two different levels of education in Web Development. Contact us today to see which class is right for you.
        </p>
        <p><a class="btn btn-default" href="http://coderfoundry.com/Home/Contact">Contact us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>Browse our website to learn more about our company, the services we offer, job opportunities, and more.</p>
        <p><a class="btn btn-default" href="http://coderfoundry.com/">Browse our site &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blog</h2>
        <p>We like to share the things we know. Read our blog to learn valuable information about the IT industry and coding in general.</p>
        <p><a class="btn btn-default" href="http://coderfoundry.com/Blog">Read the blog &raquo;</a></p>
    </div>
</div>