@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>
<br />
<p>With the IT skills gap remaining a major problem for businesses, it can be too easy to overlook 
    the needs of the students trying to fill these positions. Here at the Coder Foundry, however, 
    our primary focus is on providing the skills necessary to fill this gap and the services students 
    need to help them get the job of their dreams.</p>
<p>We start each student out in our Apprentice-level Coding course in order to deliver 500 hours of 
    coding experience through a carefully curated curriculum designed by our college-level professor, 
    Andrew Jensen. Andrew focuses on bringing real-world skills into the classroom to ensure Coder 
    Foundry students aren't just talented developers, but also well-prepared for the rigors of a 
    programming job.</p>
<p>After completion of the 12-week course, our dedicated recruiting office, helmed by Amy Gregory, 
    focuses on matching students up with a job opening that fits both their skills and personality.</p>
<p>"I'm working with the students at Coder Foundry to develop their resumes, online image management, 
    interview and placement skills in order to enter their ideal career path, while pairing them with 
    companies that need IT talent with .Net and JavaScript experience. My goal is to not only pair a 
    student with an employer, but make sure their background, wishes and skills mesh perfectly," 
    states Gregory.</p>
<p>Beyond Amy's team, however, we also have a talented hiring manager who focuses on connecting with 
    the local development community and lining up the employers looking for talented developers. 
    These are companies that aren't caught up in the paper pushing and misrepresentation that a 
    college degree offers, but that want real, talented professionals to fill their ranks.</p>
<p>If you'd like to learn more about our Apprentice course or any other information about Coder 
    Foundry and the opportunities we have to offer, give us a call at 336.231.8632 or check out our 
    <a href="http://coderfoundry.com/">website</a> today!</p>
