@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>
<br />


<address>
    1231 Shields Rd Suite 5<br />
    Kernersville, NC 27284<br />
    <abbr title="Phone">P:</abbr>
    336.231.8632
</address>

<address>
    <strong>Information:</strong>   <a href="mailto:agregory@coderfoundry.com">Amy Gregory</a><br />
    <strong>Marketing:</strong> <a href="mailto:bdavis@coderfoundry.com">Bobby Davis</a><br />
    <strong>Education:</strong> <a href="mailto:ajensen@coderfoundry.com">Andrew Jensen</a>
</address>