@{
    ViewBag.Title = "Home";
}

<header id="header-full">
    <div class="wrap-primary">
        <div class="container">
            <h1 class="head-title animated bounceInDown animation-delay-8 ">BugSleuth</h1>
            <img src="~/img/bug_buddy.png" alt="" class="aligncenter animated bounceIn animation-delay-5" width="10%">
            <h2 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">by <a href="http://coderfoundry.com" target="_blank" class="secondary-color">Coder Foundry</a></h2>
            <p class="lead text-center animated fadeInUp animation-delay-14">
                Coder Foundry's elite Bug Tracking software designed to teach the concepts of Database-First development with SQL Server, Microsoft MVC, ASP.NET identity management, HTML5, Razor, and Bootstrap CSS.
            </p>
            <div class="row header-full-icons text-center">
                <div class="col-sm-3 animated fadeInDown animation-delay-19">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-database"></i></span>
                    <h3>Database First Developement</h3>
                    <p class="text-center">This project introduces students to the concept of Database-First Development, the development method of choice for today's .NET developers.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-21">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-gears"></i></span>
                    <h3>MVC and Entity Framework</h3>
                    <p class="text-center">Build secure and efficient c# applications with Microsoft's MVC platform and Entity Framework, a must-have skill for the .NET developer.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-22">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-html5"></i></span>
                    <h3>HTML 5</h3>
                    <p class="text-center">Make your Web pages more interactive with dynamic content using HTML 5, an essential skill for the Web developer of tomorrow.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-22">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-bold"></i></span>
                    <h3>Bootstrap 3 CSS</h3>
                    <p class="text-center">Create professional, responsive Web pages using Bootstrap 3 templates, the Web design framework of choice for modern Web developers.</p>
                </div>
            </div>
        </div>
    </div>
</header>
