body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*THUMBNAIL HOVER POPUPS*/

.thumbnail {
    position: relative;
    float: left;
    padding: 0px;
}

.thumbnail span { /* CSS for full size image */
    position: absolute;
    border: 1px solid #666;
    visibility: hidden;
}

.thumbnail:hover span { /*CSS for enlarged image on hover*/
    visibility: visible;
    top: 0px; /* position the top of the image 10 pixels up relative to top of the thumbnail - puts it right at the top of the row */
    left: -720px; /* position the left edge of the image 700 pixels left of the thumbnail - overlays the table text without covering the thumbnail */
}

.input_disabled {
    position: relative;
    float: left;
    padding: 0px;
}

.input_disabled span { /* CSS for full size image */
    position: absolute;
    border: 1px solid #666;
    visibility: hidden;
}

.input_disabled:hover span { /*CSS for enlarged image on hover*/
    visibility: visible;
    top: 0px; /* position the top of the image 10 pixels up relative to top of the thumbnail - puts it right at the top of the row */
    left: 300px; /* position the left edge of the image 700 pixels left of the thumbnail - overlays the table text without covering the thumbnail */
}
