@model BugSleuth.Models.LoginRegisterViewModel
@{
    ViewBag.Title = "Register";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Login and Register</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            @Html.Partial("_Register", Model.RegisterModel)
        </div>
        <div class="col-lg-4 col-lg-offset-1 col-md-5">
            @Html.Partial("_Login", Model.LoginModel)
        </div>
    </div>
</div> <!-- container  -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
